@use 'libs' as *;

//Base
@use 'base/reset';
@use 'base/layout';


//Components
@use 'components/table-of-contents.scss';
@use 'components/special.scss';
/*  Header  */

.top-head{
    padding-top: 50px;
    color: gc(head-text);
    background: linear-gradient(to right, gc(accent), gc(accent2));
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 45px;
        margin: 20px 0;
        font-weight: 100;
    }

    h2 {
        font-size: 22px;
        font-style: italic;
    }
}

/*  Boilerplate Sections  */

section {
    margin: 20px 5%;
    em {
        font-style: italic;
    }
    h1 {
        font-size: 40px;
        color: gc(accent);
        border-bottom: 2px solid gc(accent);
        padding: 20px 0;
    }
    h2 {
        font-size: 33px;
        color: gc(accent);
    }
    h3 {
        font-size: 22px;
        color: gc(accent);
    }
    h4 {
        font-size: 17px;
        color: gc(accent);
    }
}

/*  FilePath Fields  */

.path {
    background-color: gc(path);
    padding: 1px 5px;
    border-radius: 10px;
    color: gc(bg);
    font-style: italic;
}

.folder {
    background-color: gc(folder);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    .folder {
        background-color: gc(folder2);
    }
}

.file {
    background-color: gc(file);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    .path:first-of-type {
        @include entry;
    }
}

/*  Code Block  */
/*  Some Code Block is saved in cdn  */
pre {
    border-radius: 20px;
}


/*  Sticky Nav Bar  */
.top-nav {
    position: relative;
    background: linear-gradient(to right, gc(accent), gc(accent2));
    position: sticky;
    top: 0;

    display: flex;


    .icons {
        display: flex;
        i {
            width: 20px;
            color: gc(head-text);
            padding: 20px;
            font-size: 20px;
            cursor: pointer;
            transition: all .3s;
            border-top-left-radius: 35px;
            border-top-right-radius: 35px;
    
            &:hover {
                color: gc(accent);
                background-color: gc(bg);
            }
        }
    }
    .title {
        margin-left: 20px;
        border: none;
        text-decoration: none;
        @include flex-center;
        #nav-title {
            font-size: 1.3rem;
            color: gc(head-text);
            margin: 0;
            padding: 0;
            font-weight: 100;
        }
    }
}
