@use 'libs' as *;

//Base
@use 'base/reset';
@use 'base/layout';


//Components
@use 'components/table-of-contents.scss';
@use 'components/special.scss';
/*  Header  */

.top-head{
    padding-top: 50px;
    color: gc(bg);
    background: linear-gradient(to right, gc(header), gc(accent2));
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 45px;
        margin: 20px 0;
        font-weight: 100;
    }

    h2 {
        font-size: 22px;
        font-style: italic;
    }
}

/*  Boilerplate Sections  */

section {
    margin: 20px 5%;
    em {
        font-style: italic;
    }
    h1 {
        font-size: 40px;
        color: gc(header);
        border-bottom: 2px solid gc(header);
        padding: 20px 0;
    }
    h2 {
        font-size: 33px;
        color: gc(header);
    }
    h3 {
        font-size: 22px;
        color: gc(header);
    }
    h4 {
        font-size: 17px;
        color: gc(header);
    }
}

/*  FilePath Fields  */

.path {
    background-color: rgba(43, 67, 77, 0.872);
    padding: 1px 5px;
    border-radius: 10px;
    color: white;
    font-style: italic;
}

.folder {
    background-color: rgba(29, 29, 29, 0.118);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    .folder {
        background-color: rgba(252, 252, 252, 0.625);
    }
}

.file {
    background-color: rgba(255, 255, 255, 0.598);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    .path:first-of-type {
        padding: 2px 5px;
        border-radius: 6px;
        font-weight: 300;
        background-color: transparent;
        border: 1px solid gc(header);
        color: gc(fg);
    }
}

/*  Code Block  */
/*  Some Code Block is saved in cdn  */
pre {
    border-radius: 20px;
}


/*  Sticky Nav Bar  */
.top-nav {
    position: relative;
    background: linear-gradient(to right, gc(header), gc(accent2));
    position: sticky;
    top: 0;

    display: flex;


    .icons {
        display: flex;
        i {
            color: gc(bg);
            padding: 20px;
            font-size: 20px;
            cursor: pointer;
            transition: all .3s;
            border-top-left-radius: 35px;
            border-top-right-radius: 35px;
    
            &:hover {
                color: gc(header);
                background-color: gc(bg);
            }
        }
    }
    .title {
        margin-left: 20px;
        border: none;
        text-decoration: none;
        @include flex-center;
        #nav-title {
            font-size: 1.3rem;
            color: gc(bg);
            margin: 0;
            padding: 0;
            font-weight: 100;
        }
    }
}
