@use 'libs' as *;

//Base
@use 'base/reset';
@use 'base/layout';

//Components
.top-head{
    color: gc(bg);
    background: linear-gradient(to right, rgb(56, 138, 33), rgb(255, 204, 0));
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 22px;
    }
}

section {
    margin: 20px 20%;

    em {
        font-style: italic;
    }
    h3 {
        font-size: 22px;
        color: gc(header);
    }

    ul {
        padding: 5px 20px;
        li {
            padding: 5px;
        }
    }
}