@use '../libs' as *;

html {
    scroll-behavior: smooth;
    scroll-margin: 30px;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: gc(bg);
    color: gc(fg);
    line-height: 150%;
    width: 100vw;
    // overflow: hidden;
}

.layout {
    display: flex;
    background-color: gc(bg);
    width: 100vw;

    .table-of-contents {
        position: relative;
        width: 0vw;
        overflow: scroll;
    }
    .main {
        position: relative;
        height: 0;
        height: 100vh;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    h1,
    h2,
    h3 {
        margin: 15px 0;
        &::before {
            display: block;
            content: " ";
            margin-top: -80px;
            height: 80px;
            visibility: hidden;
            pointer-events: none;
        }
    }
}
