doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Algorithmic Documentation
    link(href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,300;1,400&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='documentation_assets/css/main.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/themes/prism-tomorrow.min.css" integrity="sha512-vswe+cgvic/XBoF1OcM/TeJ2FW0OofqAVdCZiEYkd6dwGXthvkSFWOoGGJgS2CW70VK5dQM5Oh+7ne47s74VTg==" crossorigin="anonymous")
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css' integrity='sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==' crossorigin='anonymous')
body
    .layout
        include ../components/table-of-contents.pug
        .main
            .top-head#top
                h1 Algorithmic Trading Backtester
                h2 Documentation and Explanation of An Algorithmic Backtester
            .top-nav
                //- .darkMode DarkMode
                .icons
                    i#menu-toggle.fas.fa-bars
                    i.darkMode.fas.fa-moon
                    a(href="https://github.com/dcorso21/Algo-Trading-Backtester", target="_blank")
                        i.gitHub.fab.fa-github
                a.title(href="#top")
                    h1#nav-title 
                

            include ../components/intro.pug
            include ../components/file-struct.pug
            include ../components/up-and-running.pug
            include ../components/view-results.pug
            include ../components/strategy.pug

            section#debug
                h1 Debug Mode
                p.
                    debug mode is a feature in the #[span.func batch_test]. If this setting is enabled, 
                    the results screen will pop up in the browser. This can be extremely helpful for
                    troubleshooting a strategy quickly. You can see the setting required below:
                pre 
                    code.language-python.
                        # main.py
                        from local_functions.main import batch_testing as batch
                        batch_params = {
                            # Other Settings
                            'debug_plot':  True,
                        } 
                        batch.batch_test(**batch_params)
                
            section#configuration
                h1 Configuration Files
                p.
                    There are a plethora of settings that can be altered to change not only the way the algorithm works, 
                    but also how the backtesting simulation operates. The main file carrying these settings is
                    #[span.path local_functions/main/config.json]. To create a new configuration easily, open the 
                    #[span.path config_form.html] file in a browser. You can see the file 
                    #[a(href="config_form.html" target="_blank") here]. 

                    #[br]#[br]
                    If you update the config form with new fields, make sure to run the #[span.path update_form.py]
                    file. For more information, I've made a repository explaining the exact process
                    #[a(href="https://dcorso21.github.io/PythonFormsFromJSON/" target='_blank') here].

    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js" integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww==" crossorigin="anonymous")
    script(src="documentation_assets/index.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/prism.min.js" integrity="sha512-9+422Bs3A87UkWfp+qV80Nfv9arhbCXKY1rxrF2seorI36mIIstMiuBfyKLF1yH1nnzQkEWq2xrzT4XU3Z+vrA==" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/components/prism-python.min.js")