doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Algorithmic Documentation
    link(href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,300;1,400&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='documentation_assets/css/main.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/themes/prism-tomorrow.min.css" integrity="sha512-vswe+cgvic/XBoF1OcM/TeJ2FW0OofqAVdCZiEYkd6dwGXthvkSFWOoGGJgS2CW70VK5dQM5Oh+7ne47s74VTg==" crossorigin="anonymous")
header.top-head
    h1 Algorithmic Trading Backtester
    h2 Documentation and Explanation of An Algorithmic Backtester
body
    include ../components/table-of-contents.pug
    include ../components/intro.pug
    include ../components/file-struct.pug
    include ../components/up-and-running.pug
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/prism.min.js" integrity="sha512-9+422Bs3A87UkWfp+qV80Nfv9arhbCXKY1rxrF2seorI36mIIstMiuBfyKLF1yH1nnzQkEWq2xrzT4XU3Z+vrA==" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/components/prism-python.min.js")
