:root {
  --bg: #fff;
  --fg: #000;
  --header: #4d95d8;
  --accent2: #49c285;
  --def: #a8a8a8;
  --prop: #757575;
  --lay2: rgba(192, 192, 192, 0.425);
  --lay3: rgba(243, 243, 243, 0.425);
}

.dark {
  filter: invert(1);
}

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

html {
  scroll-behavior: smooth;
  scroll-margin: 30px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg);
  color: var(--fg);
  line-height: 150%;
  width: 100vw;
}

.layout {
  display: flex;
  background-color: var(--bg);
  width: 100vw;
}
.layout .table-of-contents {
  position: relative;
  width: 0vw;
  overflow: scroll;
}
.layout .main {
  position: relative;
  height: 0;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.layout h1,
.layout h2,
.layout h3 {
  margin: 15px 0;
}
.layout h1::before,
.layout h2::before,
.layout h3::before {
  display: block;
  content: " ";
  margin-top: -80px;
  height: 80px;
  visibility: hidden;
  pointer-events: none;
}

.table-of-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  background-color: var(--header);
}
.table-of-contents::-webkit-scrollbar-corner {
  background: transparent;
}
.table-of-contents::-webkit-scrollbar {
  background: transparent;
}
.table-of-contents i {
  font-size: 80%;
  margin-left: 10px;
  transform: rotate(0deg);
}
.table-of-contents a {
  white-space: nowrap;
  display: block;
  width: 80%;
  text-decoration: none;
  color: var(--bg);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px 15px;
  margin-right: 30px;
  transition: all 0.3s ease-in-out;
  transform: translateX(-5px);
}
.table-of-contents a:hover {
  color: var(--header);
  background-color: var(--bg);
  transform: translateX(0px);
}
.table-of-contents li {
  margin: 10px 0;
}
.table-of-contents .lay1 a {
  width: fit-content;
  padding-left: 80px;
}
.table-of-contents .lay2 a {
  padding-left: 120px;
}
.table-of-contents .lay3 a {
  padding-left: 160px;
}

.toggleView {
  display: none;
}

.open {
  animation: openMenu 0.5s ease-in-out 0s 1 alternate forwards;
}

.close {
  animation: closeMenu 0.5s ease-in-out 0s 1 alternate forwards;
}

@keyframes openMenu {
  from {
    width: 0vw;
  }
  to {
    width: 80vw;
  }
}
@keyframes closeMenu {
  from {
    width: 80vw;
  }
  to {
    width: 0vw;
  }
}
a {
  color: var(--header);
}

#compare-properties,
#batch-properties,
#overview {
  margin: 10px 10%;
  padding: 10px 20px;
  background-color: var(--lay2);
  border-radius: 20px;
}
#compare-properties li,
#batch-properties li,
#overview li {
  padding: 10px 10px;
  margin: 10px 0;
  background-color: var(--lay3);
  border-radius: 20px;
}

.prop {
  display: inline-block;
  background-color: var(--prop);
  color: var(--bg);
  padding: 5px;
  border-radius: 10px;
}

.type {
  font-style: italic;
  padding: 10px;
}
.type::before {
  content: "(";
}
.type::after {
  content: ") :";
}

.top-head {
  padding-top: 50px;
  color: var(--bg);
  background: linear-gradient(to right, var(--header), var(--accent2));
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-head h1 {
  font-size: 45px;
  margin: 20px 0;
  font-weight: 100;
}
.top-head h2 {
  font-size: 22px;
  font-style: italic;
}

section {
  margin: 20px 5%;
}
section em {
  font-style: italic;
}
section h1 {
  font-size: 40px;
  color: var(--header);
  border-bottom: 2px solid var(--header);
  padding: 20px 0;
}
section h2 {
  font-size: 33px;
  color: var(--header);
}
section h3 {
  font-size: 22px;
  color: var(--header);
}
section h4 {
  font-size: 17px;
  color: var(--header);
}

.path {
  background-color: rgba(43, 67, 77, 0.872);
  padding: 1px 5px;
  border-radius: 10px;
  color: white;
  font-style: italic;
}

.folder {
  background-color: rgba(29, 29, 29, 0.118);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.folder .folder {
  background-color: rgba(252, 252, 252, 0.625);
}

.file {
  background-color: rgba(255, 255, 255, 0.598);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.file .path:first-of-type {
  padding: 2px 5px;
  border-radius: 6px;
  font-weight: 300;
  background-color: transparent;
  border: 1px solid var(--header);
  color: var(--fg);
}

pre {
  border-radius: 20px;
}

.top-nav {
  position: relative;
  background: linear-gradient(to right, var(--header), var(--accent2));
  position: sticky;
  top: 0;
  display: flex;
}
.top-nav .icons {
  display: flex;
}
.top-nav .icons i {
  color: var(--bg);
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}
.top-nav .icons i:hover {
  color: var(--header);
  background-color: var(--bg);
}
.top-nav .title {
  margin-left: 20px;
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-nav .title #nav-title {
  font-size: 1.3rem;
  color: var(--bg);
  margin: 0;
  padding: 0;
  font-weight: 100;
}

.fadeIn {
  animation: fade 0.3s ease-in-out 0 1 alternate forwards;
}

.fadeOut {
  animation: fade 0.3s ease-in-out 0 1 alternate backwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  from {
    opacity: 1;
  }
}
