:root {
  --bg: #fff;
  --fg: #000;
  --header: #4d95d8;
  --accent2: #49c285;
}

.dark {
  --bg: #fff;
  --fg: #363636;
}

.table-of-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  background-color: var(--header);
}
.table-of-contents a {
  display: block;
  width: 80%;
  text-decoration: none;
  color: var(--bg);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px 15px;
  margin-right: 30px;
  transition: all 0.3s;
  transform: translateX(-10px);
}
.table-of-contents a:hover {
  color: var(--header);
  background-color: var(--bg);
  transform: translateX(0px);
}
.table-of-contents li {
  margin: 10px 0;
}
.table-of-contents .lay1 a {
  width: fit-content;
  padding-left: 80px;
}
.table-of-contents .lay2 a {
  padding-left: 120px;
}
.table-of-contents .lay3 a {
  padding-left: 160px;
}

.toggleView {
  display: none;
}

.open-menu {
  box-shadow: inset 0px 0px 4px black;
  border-radius: 20px;
}
