section#file-struct
    h2 File Structure Overview

    h3 Root Level
    .file
        p.
            #[span.path main.py]: from here batch testing can be commenced as well as batch 
            comparisons and various other functions. While batch testing 
            does have command line interface, I often edit this file for more exact control.
    .file
        p.
            #[span.path test.py]: A file for sandbox testing of functionality of new features. 
            Nothing pivotal happens here.
    .file
        p.
            #[span.path update_form.py]: When run will create a 



    h3 Batch Design
    h3 Config
    h3 Documentation Assets
    h3 Local Functions
    h3 mkt_csvs
    h3 Results
    h3 Temp_Assets
    h3 Unused

