section#file-struct
    h2 File Structure Overview

    h3 Root Level
    .file
        p.
            #[span.path index.html]: This page!
    .file
        p.
            #[span.path main.py]: from here batch testing can be commenced as well as batch 
            comparisons and various other functions. While batch testing 
            does have command line interface, I often edit this file for more exact control.
    .file
        p.
            #[span.path test.py]: A file for sandbox testing of functionality of new features. 
            Nothing pivotal happens here.
    .file
        p.
            #[span.path update_form.py]: When run will update the #[span.path config_form.html] based on the new values
            in the #[span.path local_functions/main/config.json] and the adjacent #[span.path config_descriptions.json]. 
            If you would like more info on this process, you can visit the documentation I did for this form generation 
            #[a(href="https://dcorso21.github.io/PythonFormsFromJSON/", target="_blank") here].
    .file
        p.
            #[span.path batches.html]: This file is updated with each batch test and serves as a directory for 
            all of the previous results of the batches. Here is the #[a(href="batches.html", target="_blank") current batches.html].
    .file
        p.
            #[span.path ]: This file is updated with each batch test and serves as a directory for 



    h3 Batch Design
    p.
        This directory holds the templates and the assets (CSS, JS, Fonts) for the #[#results-files results pages] 
        These assets are both used when visiting the results pages, and also used for creating them.
        

    h3 Config
    p.
        This folder stores all of the saved configurations for batch tests and also the templates for creating 
        new forms to create the configurations. I know that this seems odd. If you are interested in seeing how this 
        is done, please check out my documentation of the process #[a(href="https://dcorso21.github.io/PythonFormsFromJSON/", target="_blank") here].
    h3 Documentation Assets
    p.
        The documentation is what you are reading right now. Inside this folder is the assets seen in these docs.
    h3 Local Functions
    p.

    h3 mkt_csvs
    p.
        The csv data of market prices (OHLC) each minute that the market is open. It is important 
        to populate this folder because the batch testing uses this data to trade.
    h3#results-files Results
    p.
        This is where the results of the batch tests and batch comparisons are kept. They are categorized by date 
        and time and can be accessed with great detail through the #[span.path batches.html] file. You can visit 
        the active link #[a(href="batches.html", target="_blank") here].
    h3 Temp_Assets
    p.
        This folder is exclusively used for singular tests on one stock at a time (ei: without batch testing.) In previous versions, 
        each stock's results would be saved here in the batch test but the practice was deprecated to avoid issues with running multiple batch tests at once.
        The use of a singular non-batch test is still functional, but not suggested. See #[a(href="#batch-of-one") batch of one instead].

