
section
    h1#intro Intro
    p.
        This is a Algorithmic trading backtester for lightning quick trading sometimes referred to as 
        "#[em Day Trading]" or (more specifically) "#[em Scalping]". 
        
        #[br]
        #[br]
        This brand of investing involves very short 
        trade periods, sometimes minutes, sometimes seconds. This is a huge departure from more typical investing which 
        has a time-horizon of several months to many years. In short term trading, the stocks traded are 
        riskier and are experiencing a period of abnormal volatility. 

        #[br]#[br]
        The basic precept behind daytrading ideology is that 
        there is inefficency in extremely volatile stocks. The time period that has volatility is evidence of this inefficiency
        and allows a short window to capitalize on the higher percentage swings.

        #[br]#[br]
        This project works with CSV files with the open, high, low and close prices (OHLC) for each minute during normal 
        market hours (9:30AM - 4PM EST). I have created an algorithm that will create what is known as #[em tick] data 
        for each one of these minutes. The source code for interpolating second data is in the #[span.path local_functions/data_management/historical_funcs.py] 
        in the function called "#[em create_second_data]"

