.table-of-contents
    ul.lay1
        li
            a(href='#top') Intro
        li
            a.expand(href='#') File Structure Overview
                i.fas.fa-chevron-down
            ul.lay2.toggleView
                li 
                    a(href='#root-level') Root Level
                li 
                    a(href='#batch-design') /batch_design
                li 
                    a(href='#config-folder') /config
                li 
                    a(href='#doc-assets') /documentation_assets
                li 
                    a(href='#local-funcs') /local_functions
                li 
                    a(href='#mkt-csvs') /mkt_csvs
                li 
                    a(href='#results') /results
                li 
                    a(href='#temp-assets') /temp_assets
        li
            a.expand(href='#') Getting Up and Running
                i.fas.fa-chevron-down
            ul.lay2
                li
                    a.expand(href='#batch-testing') Batch Testing 
                        i.fas.fa-chevron-down
                    ul.lay3.toggleView
                        li
                            a(href='') Preparing a Batch
                        li
                            a(href='') Multiple Tests at Once
                li
                    a.expand(href='#')  Single Stock Testing 
                        i.fas.fa-chevron-down
                    ul.lay3.toggleView
                        li
                            a(href='') Batch of One
                        li
                            a(href='') Without Batching
        li
            a.expand(href='#') Viewing Results
                i.fas.fa-chevron-down
            ul.lay2.toggleView
                li 
                    a(href='') Batch Results
                li 
                    a(href='') Individual Day Results
                li 
                    a(href='') Comparing Batches
        li
            a(href='#') Creating A Strategy
        li
            a(href='#') Debug Mode
        li
            a(href='#') Configuration Files
