section.table-of-contents
    h2 Table of Contents
    ul
        li
            a(href='#') Intro
        li
            a(href='#') File Structure Overview
        li
            a(href='#') Getting Up and Running
            ul
                li
                    a(href='#batch-testing')  Introducing Batch Testing 
                ul 
                    li
                        a(href='') Preparing a Batch
                    li
                        a(href='') Multiple Tests at Once
                li
                    a(href='')  Single Stock Testing 
                ul 
                    li
                        a(href='') Batch of One
                    li
                        a(href='') Without Batching
        li
            a(href='#') Viewing Results
        ul
            li 
                a(href='') Batch Results
            li 
                a(href='') Individual Day Results
            li 
                a(href='') Comparing Batches
        li
            a(href='#') Creating A Strategy
        li
            a(href='#') Debug Mode
        li
            a(href='#') Configuration Files
