.table-of-contents
    ul.lay1
        li
            a(href='#top') Intro
        li
            a(href='#file-struct') File Structure Overview
        li
            a(href='#up-and-run') Getting Up and Running
            ul.lay2
                li
                    li
                        a(href='#batch-testing')  Introducing Batch Testing 
                    ul.lay3
                        li
                            a(href='') Preparing a Batch
                        li
                            a(href='') Multiple Tests at Once
                li
                    a(href='')  Single Stock Testing 
                    ul.lay3
                        li
                            a(href='') Batch of One
                        li
                            a(href='') Without Batching
        li
            a(href='#') Viewing Results
            ul.lay2
                li 
                    a(href='') Batch Results
                li 
                    a(href='') Individual Day Results
                li 
                    a(href='') Comparing Batches
        li
            a(href='#') Creating A Strategy
        li
            a(href='#') Debug Mode
        li
            a(href='#') Configuration Files
