#menu.table-of-contents
    ul#menu-contents.lay1
        li
            a(href='#top') Intro
        li
            a.expand(href='#') File Structure Overview
                i.fas.fa-chevron-down
            ul.lay2.toggleView
                li 
                    a(href='#root-level') Root Level
                li 
                    a(href='#batch-design') /batch_design
                li 
                    a(href='#config-folder') /config
                li 
                    a(href='#doc-assets') /documentation_assets
                li 
                    a(href='#local-funcs') /local_functions
                li 
                    a(href='#mkt-csvs') /mkt_csvs
                li 
                    a(href='#results') /results
                li 
                    a(href='#temp-assets') /temp_assets
        li
            a.expand(href='#') Getting Up and Running
                i.fas.fa-chevron-down
            ul.lay2.toggleView
                li
                    a.expand(href='#') Batch Testing 
                        i.fas.fa-chevron-down
                    ul.lay3.toggleView
                        li
                            a(href='#standard-batch') Standard Batch
                        li
                            a(href='#batch-params') Batch Customization
                li
                    a.expand(href='#')  Single Stock Testing 
                        i.fas.fa-chevron-down
                    ul.lay3.toggleView
                        li
                            a(href='#batch-of-one') Batch of One
                        li
                            a(href='#without-batch') Without Batching
        li
            a.expand(href='#') Viewing Results
                i.fas.fa-chevron-down
            ul.lay2.toggleView
                li 
                    a(href='#batch-overview') Batch Overview
                li 
                    a(href='#individual-stock') Individual Stock Page
                li 
                    a(href='#batch-comparisons') Batch Comparisons
        li
            a(href='#create-strategy') Creating A Strategy
        li
            a(href='#debug') Debug Mode
        li
            a(href='#configuration') Configuration Files
